<!--begin::Row-->
<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-title">Registro de compras</h5>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
            <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
            <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
          </button>
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-tool dropdown-toggle"
              data-bs-toggle="dropdown"
            >
              <i class="bi bi-wrench"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" role="menu">
              <a href="#" class="dropdown-item">Action</a>
              <a href="#" class="dropdown-item">Another action</a>
              <a href="#" class="dropdown-item"> Something else here </a>
              <a class="dropdown-divider"></a>
              <a href="#" class="dropdown-item">Separated link</a>
            </div>
          </div>
          <button type="button" class="btn btn-tool" data-lte-toggle="card-remove">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 col-6">
            <div class="border-end">
              <br>
              <span class="text-uppercase">Lima, Lima, Surco</span>
              <span class="text-uppercase">Colegio</span>
              <h5 class="fw-bold mb-0">José María 0034</h5>
              <br>
              <span class="text-uppercase">asignados</span>
              <span class="text-uppercase">S/. 50 000</span>
              <br>
              <span class="text-uppercase">gasrados</span>
              <span class="text-uppercase">S/. 20 000</span>
              <br><br>
              <span class="text-uppercase">saldo</span>
              <h5 class="fw-bold mb-0">JS/. 30 000</h5>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-md-10 col-6">
            <div class="text-center border-end">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Registro de Compras</h3>
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Ingredientes</th>
                        <th>Porción KG</th>
                        <th>Porción GR</th>
                        <th>Monto</th>
                        <th>Evidencia</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>ingrediente 1</td>
                        <td>1</td>
                        <td>0,1</td>
                        <td>200</td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <td>ingrediente 2</td>
                        <td>2</td>
                        <td>0,2</td>
                        <td>50</td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <td>ingrediente 3</td>
                        <td>2</td>
                        <td>0,2</td>
                        <td>50</td>
                        <td>verboleta</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- ./card-body -->
      <div class="card-footer">
        <!--begin::Row-->

        <!--end::Row-->
      </div>
      <!-- /.card-footer -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!--end::Row-->
<!--  -->

