<div class="login-page bg-body-secondary">
  <div class="login-box">
      <div class="login-logo">
        <a href="../index2.html"><b>Wasi</b>MIKUNA</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Inicie sesión para comenzar su sesión</p>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="numeroDocumentoUsuario" placeholder="DNI">
              <div class="input-group-text"><span class="bi bi-envelope"></span></div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" formControlName="passwordUsuario" placeholder="Contraseña">
              <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
            </div>
            <!--begin::Row-->
            <div class="row">
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                  <label class="form-check-label" for="flexCheckDefault"> Recuérdame </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <div class="d-grid gap-2">
                  <button  type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!--end::Row-->
          </form>
          <!-- <div class="social-auth-links text-center mb-3 d-grid gap-2">
            <p>- OR -</p>
            <a href="#" class="btn btn-primary">
              <i class="bi bi-facebook me-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-danger">
              <i class="bi bi-google me-2"></i> Sign in using Google+
            </a>
          </div> -->
          <!-- /.social-auth-links -->
          <p class="mb-1"><a href="forgot-password.html">Olvidé mi contraseña</a></p>
          <p class="mb-0">
            <a href="register.html" class="text-center"> Registrar una nueva membresía </a>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->

    </div>


